DEBUG=true
HOST=127.0.0.1
BASE_URL=http://127.0.0.1:8000
SECRET_KEY="secret"
ALLOWED_HOSTS=*

POSTGRES_DB=galvanica_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CSRF_TRUSTED_ORIGINS=https://example.com
